 .open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared css */
.body-bg{
    background-color: #F5F8FF;
}
.common-margin{
    margin-left: 150px;
    margin-right: 150px;
}
.priamry-btn{
    font-size: 15px;
    color: #ffffff;
    background-color: #0892e3;
    border: none;
    border-radius: 5px;
    padding: 8px 15px 8px 16px;
}
.priamry-btn:hover{
     background-color: #00ff15;
}

.common-color {
    color: #4E47FF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
/* Style for header section */
.header {
    height:746px;
}
.header-bg{
    background-image: url("../images/Hero-bg.png");
    background-position:cover;
}
header nav {
    display:flex;
    align-items:center;
    justify-content:space-between
}
nav ul li{
    list-style:none;
}
nav ul li a {
    text-decoration:none;
}
.banner {
    
}
.banner-content {
    text-align: center;
    padding-top: 200px;
}
.banner-content h1 {
    font-size: 65px;
    font-weight: bold;
}
.banner-content h3{
    font-size: 55px;
    font-weight: bold;
}
/* Css for main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Css for action */
.action{
    /* background-color: #f7f7f7; */
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top: 68px;
}
.action-cloumn{
    /* margin-left: 100px; */
} 
.action-cloumn img {
    margin: 50px 0px 50px 0px;
    border-radius: 48px;
}
h3.action-title{
    font-size: 41px;
    margin-bottom: 23px;
}
p.action-subtitle {
    color: #252432;
    margin-bottom: 22px;
}
/* Css for users-section */
.users-section-bg{
    background-color: rgba(78, 71, 255, 0.1);
}
.users-section {
    padding-top: 5px;
    border-radius: 20px;
    height: 306px;
    padding-bottom: 36px;
}
h3.users-title{
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    margin: 60px 0px -19px 0px;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 158px;
    text-align: center;
}
.user-cloumn{

}
.user-cloumn h2{
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0px;
}
.user-cloumn p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

/* Css for feedback-item */
.feedback-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.feedback-item {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 2px 3px #e5dfdff0;
}
.feesbacks-avatar{
    display: flex;
    align-items: center;
    gap: 20px;
}

h3.feedback-title {
    text-align: center;
    margin: 90px 0px 63px 0px;
    font-size: 39px;
    font-weight: bold;
}
.feedback-avatar img {
    border-radius: 50%;
}

.feedback-avatar-title {
    /* margin-top: 10px; */
}
.feedback-avatar-title h3{
    font-size: 16px;
    color: #757575;
    margin: 0;
    padding: 0;
    display: block;
}
.feedback-avatar-title p {
    color: #B3B3B3;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: block;
}

/* Css for focus-section */
.focus-section{ 
    background-color: #ffffff;
    padding: 16px 0px 50px 0px;
    margin: 80px 0px 80px 0px;
    border-radius: 15px;
}
h3.focus-title{
    text-align: center;
    font-size: 50px;
}
.focus-section p{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    margin: -29px 0px 08px 0px;
}
.focus-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.focus-section img{ 
    border-radius: 30px;
    margin: 70px 0px 0px 0px;
}
/* css for touch-section */
.touch-section{
    display: flex;
    align-items: center;
    gap: 100px;
}
h3.touch-title {
    font-size: 68px;
    font-weight: bold;
}
.touch-column{
    width: 50%;
    margin-right: 31px;
}
.touch-column input[type="text"], .touch-column input[type="email"], .touch-column textarea{
    height: 34px;
    display: block;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #ffffff;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
/* Css for footer */
footer nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer nav ul li a {
    color: #8987A1;
}
h3.footer-title.common-color {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
footer p {
    text-align: center;
    color: #8987A1;
    margin: -24px 0px 0px 0px;
}
